.GridWrapper {
    width: 100vw;
    height: 100vh;
    
    display: grid;
    grid-template-areas: 
    "na na na na"
    "he he he he"
    "s1 s1 s2 s2"
    "s3 s3 s4 s4"
    "fo fo fo fo"
    ;

}

.Nav1 {
    grid-area: na;
    background-color: black;
}

.header {
    grid-area: he;
    background-color: blue;
}

.section1 {
    grid-area: s1;
}

.section2 {
    grid-area: s2;
}

.section3 {
    grid-area: s3;
}

.section4 {
    grid-area: s4;
}